<!DOCTYPE html>
<html>
<head>
  <title>About - Humming-Based Music Information Search</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
  <header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('services')}}">Services</a>
        <a href="{{ url_for('contact')}}">Contact Us</a>
    </nav>
  </header>
  <main>
    <h1>About Us</h1>
    <p>Welcome to our humming-based music information search platform, developed by a group consisting of 3 CSE B.Tech students as a final year project under the guidance of Project Supervisor Dr. Vikram Singh,
    Asst. Professor. Our goal is to make searching for music information as easy and intuitive as possible, by allowing users to search for songs by humming them.</p>
    
    <p>Our search platform uses advanced machine learning algorithms to analyze and match the user's humming with songs in our database. We have a vast collection of songs from various genres, and we are constantly updating and expanding our database.</p>
    <p>Our platform not only allows users to search for songs by humming, but also provides various information about the songs such as lyrics, artist information, and album information.</p>
    <p>We believe that our humming-based music information search platform, under the guidance of Project Supervisor, will revolutionize the way people search for music and make it a more enjoyable and efficient experience.</p>
    <p>The team behind this project is:</p>
    <ul>
      <li>Shubham Singh Kunwar  11912079</li>
      <li>Peeyush Chaudhary     11912085</li>
      <li>Naman Kumar Singh     11912096</li>
    </ul>
    <p>We would like to extend our heartfelt gratitude to Project Supervisor Dr. Vikram Singh,Asst. Professor
    for their invaluable guidance and support throughout the development of this project. Their expertise and mentorship have been instrumental in making this project a success.</p>
  </main>
  <footer>
    <p>Copyright ©2023 Humming-Based Music Information Search</p>
  </footer>
</body>
</html>