<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - Humming-Based Music Information Search</title>
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
  <header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('services')}}">Services</a>
        <a href="{{ url_for('contact')}}">Contact Us</a>
    </nav>
  </header>
  <main>
    <h1>Contact Us</h1>
    <p>We value your feedback and suggestions. Please use the form below to contact us or reach out to us at the following contact information:</p>
    <ul>
      <li>Email: contact@hummingsearch.com</li>
      <li>Phone: 555-555-5555</li>
      <li>Address: XXXXX</li>
    </ul>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <input type="submit" value="Submit">
    </form>
  </main>
  <footer>
    <p>Copyright ©2023 Humming-Based Music Information Search</p>
  </footer>
</body>
</html>