<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Humming-Based Music Information Search</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('services')}}">Services</a>
        <a href="{{ url_for('contact')}}">Contact Us</a>
      </nav>
    </header>
    <main>
      <h1>Humming-Based Music Information Search</h1>
      <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
       </div>
       <ol id="recordingsList"></ol>
       <div id="waveform1" ></div>
     <div id="form1" action="../templates/recognise.html">
       <form action="/recognise" method="POST" enctype="multipart/form-data">
         <a href="redirect"><input type="submit" value="Search"></a>
       </form>
   </div>
   <br>
   <div id="form2" action="../templates/recommendations.html">
       <form action="/recommend" method="POST" enctype="multipart/form-data">
           <a href="redirect"><input type="submit" value="Recommend"></a>
       </form>
   </div>
      <p>Welcome to our humming-based music information search platform. Our goal is to make searching for music information as easy and intuitive as possible, by allowing users to search for songs by humming them.</p>
      <p>Our search platform uses advanced machine learning algorithms to analyze and match the user's humming with songs in our database. We have a vast collection of songs from various genres, and we are constantly updating and expanding our database.</p>
      <p>Our platform not only allows users to search for songs by humming, but also provides various information about the songs such as lyrics, artist information, and album information. Users can also create playlists, save their favorite songs, and share them with friends.</p>
      <p>We believe that our humming-based music information search platform will revolutionize the way people search for music and make it a more enjoyable and efficient experience.</p>
    </main>
    <footer>
      <p>Copyright ©2023 Humming-Based Music Information Search</p>
    </footer>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script type="text/javascript" src="static/js/recorder.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/wavesurfer.js"></script>
  </body>
</html>