<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <link rel="stylesheet" href="../static/css/recommend.css">
    
    <title>Music Recognize</title>
</head>
<body>
    <div class="container-fluid">
        <div class="title">
            <p align="center"><b>Music Recognize</b></p>
        </div>
        <div class="music">
            <div class="names"><h3><b>{{list[0][0]}}</b></h3></div>
            <div class="cossim"><p>Similarity Score: {{list[0][1]}}</p></div>
            <div class="track">
                <audio controls>
                    <source src="{{ url_for('static', filename='Dataset_Songs/' + list[0][0]) }}" type="audio/mpeg">
                </audio>
                <div id="waveform"></div>
            </div>
        </div>
        <br>
        <div class="music">
            <div class="names"><h3><b>{{list[1][0]}}</b></h3></div>
            <div class="cossim"><p>Similarity Score: {{list[1][1]}}</p></div>
            <div class="track">
                <audio controls>
                    <source src="{{ url_for('static', filename='Dataset_Songs/' + list[1][0]) }}" type="audio/mpeg">
                </audio>
                <div id="waveform2"></div>
            </div>
        </div>
        <br>
        <div class="music">
            <div class="names"><h3><b>{{list[2][0]}}</b></h3></div>
            <div class="cossim"><p>Similarity Score: {{list[2][1]}}</p></div>
            <div class="track">
                <audio controls>
                    <source src="{{ url_for('static', filename='Dataset_Songs/' + list[2][0]) }}" type="audio/mpeg">
                </audio>
                <div id="waveform3"></div>
            </div>
        </div>
        <br>
        <div class="music">
            <div class="names"><h3><b>{{list[3][0]}}</b></h3></div>
            <div class="cossim"><p>Similarity Score: {{list[3][1]}}</p></div>
            <div class="track">
                <audio controls>
                    <source src="{{ url_for('static', filename='Dataset_Songs/' + list[3][0]) }}" type="audio/mpeg">
                </audio>
                <div id="waveform2"></div>
            </div>
        </div>
        <br>
        <div class="music">
            <div class="names"><h3><b>{{list[4][0]}}</b></h3></div>
            <div class="cossim"><p>Similarity Score: {{list[4][1]}}</p></div>
            <div class="track">
                <audio controls>
                    <source src="{{ url_for('static', filename='Dataset_Songs/' + list[4][0]) }}" type="audio/mpeg">
                </audio>
                <div id="waveform2"></div>
            </div>
        </div>
        <br>
    </div>
    <br>
</body>
</html>